.attribution { font-size: 11px; text-align: center; position: relative; top: 80px; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
 }
 
 body{
     margin: 0;
     padding: 0;
 }
 
 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .col{
     width: 320px;
     height: 520px;
     display: flex;
     flex-flow: column wrap;
     justify-content: space-evenly;
     align-items: flex-start;
     padding: 3rem;
 }
 
 .col:nth-child(1){
     background-color: hsl(31, 77%, 52%);
     border-bottom-left-radius: 10px;
     border-top-left-radius: 10px;
 }
 .col:nth-child(2){
     background-color: hsl(184, 100%, 22%);
 }
 .col:nth-child(3){
     background-color:  hsl(179, 100%, 13%);
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
 }
 
 .title{
     font-family: 'Big Shoulders Display', cursive;
     color: hsl(0, 0%, 95%);
     text-transform: uppercase;
     font-size: 33px;
     padding: 0;
     margin: 0;
 }
 
 .paragraph{
     font-family: 'Lexend Deca',sans-serif;
     line-height: 2;
     color: hsla(0, 0%, 100%, 0.75);
     font-size: 1rem;
     margin: 0px 0px 50px;
 }
 
 .button{
     font-family: 'Lexend Deca', sans-serif;
     background-color: hsl(0, 0%, 95%);
     color: none;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
     border-radius: 45px;
     padding: 1rem 2rem;
     border: 1px solid hsl(0, 0%, 95%);
 }
 
 .button:hover{
     border: 1px solid hsl(0, 0%, 95%);
     background: none;
     color: hsl(0, 0%, 95%);
 }
 .btn-1{
     color: hsl(31, 77%, 52%);
 }
 .btn-2{
     color: hsl(184, 100%, 22%);
 }
 .btn-3{
     color: hsl(179, 100%, 13%);
 }
 
 @media only screen and (max-width: 750px){
     .container{
         margin: .625rem 0 .625rem 0px;
         height: auto;
         flex-direction: column;
     }
     .col{
         border-radius: 0 !important;
     }
     .col:nth-child(1){
         border-top-right-radius: 10px !important;
         border-top-left-radius: 10px !important;
     }
     .col:nth-child(3){
         border-bottom-right-radius: 10px !important;
         border-bottom-left-radius: 10px !important;
     }
 }
 
